* text=auto eol=lf

*.php text eol=lf
*.js text eol=lf
*.css text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.pot text eol=lf
*.po text eol=lf
*.svg text eol=lf

*.mo binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.zip binary

/.github export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/.editorconfig export-ignore
/tools export-ignore
/tests export-ignore
